body {margin:0;}
body {
  background-color: rgb(254, 215, 164);
}


.icon-bar {
  width: 100%;
  background-color: #fceccf;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(16, 15, 15);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #fe8d02;
}

.active {
  background-color: #f0c506;
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- Mobiltilpasning ---------- */
@media (max-width: 768px) {
 
  h1 {
      font-size: 28px;
  }
 
  .grid-container {
      grid-template-areas:
          "main"
          "left";
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 15px;
  }
 
  .item1, .item2 {
      font-size: 1em;
      padding: 15px;
  }
.item1 img, .item2 img {
  height: auto;
}
}

