body {margin:0;}
body {
  background-color: rgb(254, 215, 164);
}


.icon-bar {
  width: 100%;
  background-color: #fceccf;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(16, 15, 15);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #fe8d02;
}

.active {
  background-color: #f0c506;
}

footer {
  padding: 10px 20px;
  background: #666;
  color: white;
}
      
a {
  color: #00aaff78;
}
