body {margin:0;}
body {
  background-color: rgb(254, 215, 164);
}


.icon-bar {
  width: 100%;
  background-color: #fceccf;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(16, 15, 15);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #fe8d02;
}

.active {
  background-color: #f0c506;
}

footer {
  padding: 10px 20px;
  background: #edf852ab;
  color: rgb(235, 134, 10);
}
      
a {
  color: #ff510066;
}


hr.new5 {
  border: 10px solid rgb(244, 138, 18);
  border-radius: 5px;
}


.video-container iframe {
  display: block;
  margin: 0 auto; /* Centers horizontally */
}

body {
  background-image: url("../Bilder/1000855986PP.png");
  background-repeat: no-repeat;
background-position: right 0% bottom 30%;
  margin-right: 0px;
background-attachment: local scroll;
}

/*-- gallery --*/
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

/* ---------- Mobiltilpasning ---------- */
@media (max-width: 768px) {
 
  h1 {
      font-size: 28px;
  }
 
  .grid-container {
      grid-template-areas:
          "main"
          "left";
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 15px;
  }
 
  .item1, .item2 {
      font-size: 1em;
      padding: 15px;
  }
.item1 img, .item2 img {
  height: auto;
}
}

