body {margin:0;}
body {
  background-color: rgb(254, 215, 164);
}


.icon-bar {
  width: 100%;
  background-color: #fceccf;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: rgb(16, 15, 15);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #fe8d02;
}

.active {
  background-color: #f0c506;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 75%;
  max-height:100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}


h1 {
  background-color: rgba(75, 133, 55, 0.414);
  color: rgb(61, 58, 58);
}

/* ---------- Mobiltilpasning ---------- */
@media (max-width: 768px) {
 
  h1 {
      font-size: 28px;
  }
 
  .grid-container {
      grid-template-areas:
          "main"
          "left";
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 15px;
  }
 
  .item1, .item2 {
      font-size: 1em;
      padding: 15px;
  }
.item1 img, .item2 img {
  height: auto;
}
}

