body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #c4befa;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #dfcdf4;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #763ed1;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #b700ff;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

a {
  color: #9553ff;
}

.footer {
  height: 100px; 
  margin-bottom: -100px; 
}


.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  gap:1px;
 
}
.container div {
  background-color: rgb(132, 120, 184);
  padding: 20px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.cont div.cont {
  grid-area: content;
  align-content: center;
  text-align: center;
  background-color: hsl(265, 94%, 51%);
}

.container div.content {
  grid-area: content;
  align-content: center;
  text-align:start;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(78, 27, 149); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}


.container1 {
grid-template-areas: "a a a" "b c c" "b c c";
background-color: #190707;

}

.container div.cont {
  grid-area: content;
  align-content: flex-end;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: right;
  }
}