body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #c4befa;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #dfcdf4;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #763ed1;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #b700ff;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(31, 31, 31, 0.565);
   color: rgb(255, 255, 255);
   text-align: center;
}

a {
  color: #9553ff;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  gap:1px;
 
}
.container div {
  background-color: rgb(132, 120, 184);
  padding: 10px;
}

.container div.header {
  grid-area: header;
  text-align: center;
}

.cont div.cont {
  grid-area: content;
  align-content: center;
  background-color: hsl(265, 40%, 94%);
}

.container div.content {
  grid-area: content;
  align-content: center;
  text-align: top center;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: right;
  }
}