body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #c4befa;
}


.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #dfcdf4;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #763ed1;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #b700ff;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(31, 31, 31);
   color: rgb(255, 255, 255);
   text-align: center;
}

a {
  color: #9553ff;
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}