body {
  background: #555;
}

.content {
  max-width: 550px;
  margin: auto;
  background: white;
  padding: 10px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
  font-family: 'Fugaz One';font-size: 22px;
}

/* ---------- Mobiltilpasning ---------- */
@media (max-width: 768px) {
 
  h1 {
      font-size: 28px;
  }
 
  .grid-container {
      grid-template-areas:
          "main"
          "left";
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 15px;
  }
 
  .item1, .item2 {
      font-size: 1em;
      padding: 15px;
  }
.item1 img, .item2 img {
  height: auto;
}
}