body {
  background-color: rgb(207, 126, 89);
  margin: 0;
  padding: 0;
}

/*First header "As-Aksjon 2025"*/
header {
  background-color: #5d1c1c;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

/*Andre header "Bring Children From Streets"*/
.head {
  background-color: #a73939;
  padding: 10px;
  text-align: center;
}

/* Panel 1 for informasjon om mulige premier*/
.panel1 {
  margin: 60px;
  text-align: center;
  font-size:25px;
  padding: 40px;
  background-color: #a73939;
}

/*Hover for "Mulige premier"*/
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.panel2 {
  font-size:45px;
  background-color: #a73939;
}

.panel3 {
  margin: 0px;
  padding: 70px;
  font-size:20px;
  background-color: #a73939;
}

/*Arrow animation*/
.Clickme {
  font-size: 40px;
  text-align: center;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


/*ANIMATION "BLI MED"*/
#anim {
 font-size: 23px;
 text-align: center;
 padding: 50px;
 margin: 40px;
 animation: element 2s infinite;
}
      
@keyframes element {
 0% {
 background-color: #b33333;
 }
 50% {
 background-color: #cc2a2a;
 }
 100% {
 background-color: #b33333;
 }
}
