body {
  background-color: rgb(207, 126, 89);
  margin: 0;
  padding: 0;
}

header {
  background-color: #5d1c1c;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.head {
  background-color: #a73939;
  padding: 10px;
  text-align: center;
}

.panel1 {
  margin: 5px;
  text-align: center;
  font-size:25px;
  padding: 40px;
  background-color: #a73939;
}


.panel2 {
  font-size:45px;
  background-color: #a73939;
}

.panel3 {
  margin: 0px;
  padding: 70px;
  font-size:20px;
  background-color: #a73939;
}