body {
  background-color: rgb(207, 126, 89);
  margin: 0;
  padding: 0;
}

header {
  background-color: #5d1c1c;
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.head {
  background-color: #a73939;
  padding: 10px;
  text-align: center;
}