/**/
body {
    background-color: rgb(94, 135, 135);
}

#Apple {
    border-radius: 1em;
    border-color: aquamarine;
    margin: 1px 0;

}

#submitAnswer {
    margin-top: 10px;
}

p {
    color: #e5e7eb;
    margin: 3px 0;
}

h1 {
    color: blue;
    text-decoration: overline underline;
    text-align: center;
    margin: 3px ;
}

div.content {
text-align: center;
}

label {
    color: aquamarine;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
}


.topp {
    color: #4035b3;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
