/*Body Start*/
body {
    background-color: rgb(94, 135, 135);
}

/*Input Text og Bilde*/
#Apple {
    border-radius: 1em;
    border-color: aquamarine;
    margin: 1px 0;

}


img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#submitAnswer {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 20px;
    
}

p {
    color: #e5e7eb;
    margin: 3px 0;
}

h1 {
    color: blue;
    text-decoration: overline underline;
    text-align: center;
    margin: 3px ;
}

div.content {
text-align: center;
}

label {
    color: aquamarine;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
    margin-top: 60px;
}

#AnswerResult {
margin-top: 20px;
margin-bottom: 20px;
}

.topp {
    color: #4035b3;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
