/*Body Start*/
body {
    background-color: rgb(94, 135, 135);
}

/*Input Text og Bilde*/
#Apple {
    border-radius: 1em;
    border-color: aquamarine;
    margin: 1px 0;

}


/*Apple pie bilde*/
img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


/*Button "Submit"*/
#submitAnswer {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 20px;
    
}

/*Tekst Stein Saks Papir*/
p {
    color: #e5e7eb;
    margin: 3px 0;
}

/*Answer for question "Do you like applepies"*/
h1 {
    color: blue;
    text-decoration: overline underline;
    text-align: center;
    margin: 3px ;
}

/*Content Applepie*/
div.content {
text-align: center;
}

/*Label for "Do you like applepies?"*/
label {
    color: aquamarine;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 60px;
    margin-top: 60px;
}

/*Answer result for "Do you like applepies?"*/
#AnswerResult {
margin-top: 20px;
margin-bottom: 20px;
}

/*Header for Stein Saks Papir*/
.topp {
    color: #4035b3;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
